@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@font-face {
   font-family: WildWorld;
   src: url('./wild-world.ttf');
}

:root{
   --dark: rgb(0, 0, 0);
   --platinum: rgb(204, 219, 220);
   --lapislazuli: rgb(28, 93, 153);
   --nonphotoblue1: rgb(154, 209, 212);
   --nonphotoblue2: rgb(128, 206, 215);
}

*, ::before, ::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   /* border: 1px dashed red; */
}

.p-index{
   height: 100%;
   width: 100%;
   /* background: rgb(2,0,36);
   background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(28,93,153,1) 62%, rgba(128,206,215,1) 100%); */

   /* background: rgb(2,0,36);
   background: linear-gradient(153deg, rgba(2,0,36,1) 0%, rgba(28,93,153,1) 53%, rgba(128,206,215,1) 100%); */
}

.header{
   /* font-family: 'Bungee', cursive; */
   font-family: 'WildWorld';
   display: flex;
   align-items: center;
   cursor: pointer;

   margin-left: 670px;

   font-size: 48px !important;
}

nav{
   display: flex;
   /* width: 90%;
   margin-left: 5%; */
   margin-top: 20px;
   width: 100%;
   align-items: center;

   justify-content: center;
   flex-wrap: wrap;
   padding: 20px 0;
   color: var(--dark);

   /* background-color: var(--dark); */
}

nav ul{
   /* flex: 1;
   text-align: right;
   padding-right: 30px; */

   margin-left: 350px;
}

nav ul li{
   display: inline-block;
   list-style: none;
   margin: 10px 30px;
}

nav ul li a{
   color: var(--platinum);
   text-decoration: none;
   position: relative;

   font-size: 20px;
   font-family: 'Montserrat', sans-serif;
}

nav ul li a::after{
   content: '';
   width: 0;
   height: 3px;
   position: absolute;
   bottom: -5px;
   left: 50%;
   transform: translateX(-50%);
   background: var(--platinum);
   transition: width 0.3s;
}

nav ul li a:hover::after{
   width: 100%;
}

nav button{
   padding: 10px;
   margin: 5px;
   border-radius: 5px;
   font-size: 16px;
   transition-duration: 0.4s;
}

.signIn{
   color: var(--platinum);
   border: 1px solid var(--platinum);
   
   background: none;
}

.signIn:hover{
   background-color: rgba(13,18,38,0.7);
   color: var(--platinum);

   transform: scale(1.05) perspective(1px);

   border: 1px solid var(--platinum);
}

.content{
   width: 100%;
   height: 100vh;
}

.svg {
   width: 23px;
   height: 23px;
   fill: var(--platinum);
}